*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 0;
}

body {
    background-color: antiquewhite;;
}

.container {
    padding: 2px;
    margin: auto;
    background-color: rgb(175, 146, 108);
    flex: auto;
    flex-direction: column row;
    position: sticky;
    top: 0;
}

.container h1 {
    text-align: left;
}

.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container ul li{
    float: right;
}

.container ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container ul li a:hover {
    background-color: lightsalmon;
    color: rgb(175, 146, 108);
}

.nav {
    height: 20px;

}
#About {
    padding: 2px;
    margin: auto;
    background-color: lightsalmon;
    border-style: solid;
}

#Skills {
    background-color: lightsalmon;
    margin: auto;
    padding: 2px;
    border-style: solid;
}
#Projects {
    background-color: lightsalmon;
    margin: auto;
    padding: 2px;
    border-style: solid;
}
#Contact {
    background-color: lightsalmon;
    margin: auto;
    padding: 2px;
    border-style: solid;
}
footer {
    background-color: rgb(175, 146, 108);
}
